<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * MageWorx SeoExtended Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_SeoExtended
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
 -->
<config>
    <modules>
        <MageWorx_SeoExtended>
            <version>4.0.0</version>
        </MageWorx_SeoExtended>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageWorx_SeoExtended after="Mage_Adminhtml">MageWorx_SeoExtended_Adminhtml</MageWorx_SeoExtended>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <MageWorx_SeoExtended>
                    <files>
                        <default>MageWorx_SeoExtended.csv</default>
                    </files>
                </MageWorx_SeoExtended>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <mageworx_seoextended_modify_meta>
                        <type>singleton</type>
                        <class>MageWorx_SeoExtended_Model_Observer_MetaUpdaterObserver</class>
                        <method>modifyMeta</method>
                    </mageworx_seoextended_modify_meta>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <mageworx_seoextended_modify_category_properties>
                        <class>MageWorx_SeoExtended_Model_Observer_CategoryObserver</class>
                        <method>updateCategoryProperties</method>
                    </mageworx_seoextended_modify_category_properties>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>                    
                    <mageworx_seoextended_modify_meta>
                        <type>singleton</type>
                        <class>MageWorx_SeoExtended_Model_Observer_KeywordsObserver</class>
                        <method>cropMetaKeywordsTag</method>
                    </mageworx_seoextended_modify_meta>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <global>
        <models>
            <mageworx_seoextended>
                <class>MageWorx_SeoExtended_Model</class>
                <resourceModel>mageworx_seoextended_resource</resourceModel>
            </mageworx_seoextended>
            <mageworx_seoextended_resource>
                <class>MageWorx_SeoExtended_Model_Resource</class>
                <entities>
                    <category>
                        <table>mageworx_seoextended_category</table>
                    </category>
                </entities>
            </mageworx_seoextended_resource>
            <catalog>
                <rewrite>
                    <url>MageWorx_SeoExtended_Model_Catalog_Url</url>
                </rewrite>
            </catalog>           
        </models>
        <resources>
            <mageworx_seoextended_setup>
                <setup>
                    <module>MageWorx_SeoExtended</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageworx_seoextended_setup>
        </resources>
        <blocks>
            <mageworx_seoextended>
                <class>MageWorx_SeoExtended_Block</class>
            </mageworx_seoextended>
        </blocks>
        <helpers>
            <mageworx_seoextended>
                <class>MageWorx_SeoExtended_Helper</class>
            </mageworx_seoextended>
            <catalog>
                <rewrite>
                    <category>MageWorx_SeoExtended_Helper_Category</category>
                </rewrite>
            </catalog>
        </helpers>
        <events>
           
        </events>
    </global>
    <adminhtml>       
        <layout>
            <updates>
                <mageworx_seoextended>
                    <file>mageworx_seoextended.xml</file>
                </mageworx_seoextended>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageWorx_SeoExtended>
                    <files>
                        <default>MageWorx_SeoExtended.csv</default>
                    </files>
                </MageWorx_SeoExtended>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <mageworx_seo>
            <seoextended>               
                <optimized_urls>0</optimized_urls>                  
                <status_pager_num_for_title>begin</status_pager_num_for_title>
                <status_pager_num_for_description>begin</status_pager_num_for_description>
                <cut_title_prefix_and_suffix>0</cut_title_prefix_and_suffix>
                <extended_category_layered_navigation_meta_title>1</extended_category_layered_navigation_meta_title>
                <extended_category_layered_navigation_meta_description>1</extended_category_layered_navigation_meta_description>                
            </seoextended>            
        </mageworx_seo>
    </default>
</config>