<?xml version="1.0"?>
<config>
	<modules>
		<Trenza_Pricecomparison>
			<version>0.1.0</version>
		</Trenza_Pricecomparison>
	</modules>
	
		<global>
			<helpers>
				<pricecomparison>
					<class>Trenza_Pricecomparison_Helper</class>
				</pricecomparison>
			</helpers>
			<blocks>
				<pricecomparison>
					<class>Trenza_Pricecomparison_Block</class>
				</pricecomparison>
			</blocks>			
			
			<models>
				<pricecomparison>
					<class>Trenza_Pricecomparison_Model</class>
					<resourceModel>pricecomparison_mysql4</resourceModel>
				</pricecomparison>

				<pricecomparison_mysql4>
					<class>Trenza_Pricecomparison_Model_Mysql4</class>
					<entities>
						<pricecomparison>
							<table>pricecomparison</table>
						</pricecomparison>
						
					</entities>
				</pricecomparison_mysql4>

			</models>
		
			
			<resources>
				<pricecomparison_setup>
					<setup>
						<module>Trenza_Pricecomparison</module>
					</setup>
					<connection>
						<use>core_setup</use>
					</connection>
				</pricecomparison_setup>
			  <pricecomparison_write>
					<connection>
						<use>core_write</use>
					</connection>
			  </pricecomparison_write>
			  <pricecomparison_read>
					<connection>
						<use>core_read</use>
					</connection>
			  </pricecomparison_read>
			</resources>
			
			<!--<events>
				<sales_order_place_after>
					<observers>
						<inventorylog>
							<class>inventorylog/observer</class>
							<method>updateInventoryLogAfterOrderPlace</method>
						</inventorylog>
					</observers>
				</sales_order_place_after>
			</events>-->			
		</global>
		
	<admin>
		<routers>
			<pricecomparison>
				<use>admin</use>
				<args>
					<module>Trenza_Pricecomparison</module>
					<frontName>pricecomparison</frontName>
				</args>
			</pricecomparison>
		</routers>
	</admin>

	<adminhtml>
		<!--<menu>
			<catalog>
				<children>
					<inventorylog translate="title" module="inventorylog">
						<title>Inventory Log</title>
						<sort_order>180</sort_order>
							<action>inventorylog/adminhtml_inventorylog</action>
					</inventorylog>				
				</children>
			</catalog>
		</menu>-->
		<layout>
		  <updates>
			<pricecomparison>
			  <file>pricecomparison.xml</file>
			</pricecomparison>
		  </updates>
		</layout>
	</adminhtml>
</config> 