<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * MageWorx SeoBreadcrumbs Extension
 *
 * @category   MageWorx
 * @package    MageWorx_SeoBreadcrumbs
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
-->
<config>
    <modules>
        <MageWorx_SeoBreadcrumbs>
            <version>1.0.0</version>
        </MageWorx_SeoBreadcrumbs>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageWorx_SeoBreadcrumbs after="Mage_Adminhtml">MageWorx_SeoBreadcrumbs_Adminhtml</MageWorx_SeoBreadcrumbs>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <MageWorx_SeoBreadcrumbs>
                    <files>
                        <default>MageWorx_SeoBreadcrumbs.csv</default>
                    </files>
                </MageWorx_SeoBreadcrumbs>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <mageworx_seobreadcrumbs>
                        <type>singleton</type>
                        <class>MageWorx_SeoBreadcrumbs_Model_Observer</class>
                        <method>hideBreadcrumbs</method>
                    </mageworx_seobreadcrumbs>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <mageworx_seobreadcrumbs>
                        <type>singleton</type>
                        <class>MageWorx_SeoBreadcrumbs_Model_Observer</class>
                        <method>showBreadcrumbs</method>
                    </mageworx_seobreadcrumbs>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <mageworx_seobreadcrumbs>
                        <type>singleton</type>
                        <class>MageWorx_SeoBreadcrumbs_Model_Observer</class>
                        <method>modifyBreadcrumbs</method>
                    </mageworx_seobreadcrumbs>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <global>
        <models>
            <mageworx_seobreadcrumbs>
                <class>MageWorx_SeoBreadcrumbs_Model</class>
                <resourceModel>mageworx_seobreadcrumbs_resource</resourceModel>
            </mageworx_seobreadcrumbs>
            <mageworx_seobreadcrumbs_resource>
                <class>MageWorx_SeoBreadcrumbs_Model_Resource</class>
            </mageworx_seobreadcrumbs_resource>
        </models>  
        <resources>
            <mageworx_seobreadcrumbs_setup>
                <setup>
                    <module>MageWorx_SeoBreadcrumbs</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </mageworx_seobreadcrumbs_setup>
        </resources>
        <helpers>
            <mageworx_seobreadcrumbs>
                <class>MageWorx_SeoBreadcrumbs_Helper</class>
            </mageworx_seobreadcrumbs>
        </helpers>
        <blocks>
            <mageworx_seobreadcrumbs>
                <class>MageWorx_SeoBreadcrumbs_Block</class>
            </mageworx_seobreadcrumbs>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MageWorx_SeoBreadcrumbs>
                    <files>
                        <default>MageWorx_SeoBreadcrumbs.csv</default>
                    </files>
                </MageWorx_SeoBreadcrumbs>
            </modules>
        </translate>
        <layout>
            <updates>
                <mageworx_seobreadcrumbs>
                    <file>mageworx_seobreadcrumbs.xml</file>
                </mageworx_seobreadcrumbs>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <mageworx_seo>
            <seobreadcrumbs>
                <enabled>1</enabled>
            </seobreadcrumbs>
        </mageworx_seo>
    </default>
</config>